.chat-title {
    display: flex;
    align-items: center;
    width: 80vw;
    overflow-x: hidden;
    height: 102px;
}

.userPic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.userName {
    margin-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.chat-screen {
    color: black;
    width: 80vw;
    height: calc(100vh - 315px);
    overflow-y: scroll;
    overflow-x: scroll;
}

.chat-input-container {
    color: white;
    width: 80vw;
    height: 109px;
    background-color: rgb(64, 63, 63);
}

.toolbox {
    display: flex;
}
.chat-text-input {
    position: relative;
    width: 80vw;
    height: 40px;
    top: 10px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    background-color: rgb(64, 63, 63);
}

.editbox {
    cursor: pointer;
    position: relative;
    margin-right: 15px;
    font-size: 20px;
    top: 10px;
}

.submit-btn {
    margin-left: calc(72vw + 10px);
}

.emoji {
    display: block;
    width: 300px !important;
    height: 300px !important;
}