.main-frame {
    display: flex;
}

.sidebar-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: calc(100vh - 102px);
    border-right: 1px solid black;
    position: relative;
    overflow-y: scroll;
    bottom: 0;
}

.search-bar {
    width: 90%;
}

.search-bar-input {
    margin-left: 2px;
    font-size: large;
    width: 86%;
    height: 50px;
    border: none;
    border-style: none;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    cursor: pointer;
}